asgiref==3.9.1
cloudinary==1.38.0  # For Cloudinary media storage
dj-database-url==3.0.1
Django==5.2.6
django-cloudinary-storage==0.3.0  # For Cloudinary media storage
django-cors-headers==4.7.0
djangorestframework==3.16.1
gunicorn==22.0.0
mysqlclient==2.2.4
pillow==11.3.0
psycopg2-binary==2.9.6  # For PostgreSQL support on Render (compatible with Python 3.11)
python-dotenv==1.0.1
sqlparse==0.5.3
tzdata==2025.2
whitenoise==6.11.0
